Repository nice-af/chronos-app: changes, and which lint-staged commands are due for each by the changed paths.
All: jsonsort, prettier --write, eslint --fix

feat(week-picker): make week format locale aware
  src/components/WeekPicker.tsx
  src/services/i18n.service.ts
Due: prettier --write, eslint --fix

chore: add patch-package for fixes and remove jest
  ios/Chronos.xcodeproj/project.pbxproj
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  package.json
  patches/react-native-macos+0.76.4.patch
Due: prettier --write

feat: add option to change worklogs sync duration
  ios/Chronos.xcodeproj/project.pbxproj
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  src/components/settings/WorklogSettings.tsx
  src/screens/Entries.tsx
  src/services/i18n.service.ts
  src/services/jira-worklogs.service.ts
  src/services/storage.service.ts
  src/translations/de.json
  src/translations/en.json
Due: prettier --write, eslint --fix

chore: upgrade to react-native-macos 0.76.6
  Gemfile.lock
  ios/Chronos.xcodeproj/project.pbxproj
  ios/Podfile.lock
  macos/Chronos.xcodeproj/project.pbxproj
  macos/Podfile.lock
  package-lock.json
  package.json
  patches/react-native-macos+0.76.4.patch
Due: prettier --write

feat: add option to hide dock icon or menubar
  macos/Chronos-macOS/AppDelegate.swift
  macos/Chronos-macOS/EventEmitter.swift
  macos/Chronos-macOS/StatusBarManager.swift
  src/components/Select.types.ts
  src/components/settings/LayoutAndThemeSettings.tsx
  src/const.ts
  src/providers/GlobalProvider.tsx
  src/services/native-event-emitter.service.types.ts
  src/services/storage.service.ts
  src/translations/de.json
  src/translations/en.json
Due: prettier --write, eslint --fix

chore: readd default scale patch package fix
  package-lock.json
  package.json
  patches/react-native-macos+0.76.6.patch
Due: prettier --write

fix: projects not found when used in older worklogs
  src/atoms/actions.ts
  src/atoms/listener.ts
  src/atoms/project.ts
  src/components/DebugTools.tsx
  src/components/Select.tsx
  src/services/global.service.ts
  src/services/jira-issues.service.ts
  src/services/jira-worklogs.service.ts
  src/services/project.service.ts
  src/services/storage.service.ts
  src/types/global.types.ts
Due: prettier --write, eslint --fix

feat: improvements to macos light mode
  src/components/DayButton.tsx
  src/components/settings/CardsSelectionButtons.tsx
  src/styles/theme/theme-dark.ts
  src/styles/theme/theme-light.ts
  src/styles/theme/theme-types.ts
Due: prettier --write, eslint --fix

feat: minor styling adjustment
  src/styles/theme/theme-light.ts
Due: prettier --write, eslint --fix

feat: add fullscreen mode
  src/components/AnimateScreenContainer.tsx
  src/components/TrackingListEntry.tsx
  src/const.ts
  src/screens/Main.tsx
Due: prettier --write, eslint --fix

feat: adjust input border styles
  src/components/CustomTextInput.tsx
  src/styles/theme/theme-dark.ts
  src/styles/theme/theme-light.ts
  src/styles/theme/theme-types.ts
Due: prettier --write, eslint --fix

fix: patch issues where the key window is not found
  macos/Chronos-macOS/AppDelegate.swift
  macos/Chronos-macOS/StatusBarManager.swift
  patches/react-native-macos+0.76.6.patch
Due: none

chore: rerun cleanup script
  Gemfile.lock
  ios/Chronos.xcodeproj/project.pbxproj
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  scripts/clear-cache.sh
Due: prettier --write

chore: add command to clear watchman cache
  package.json
Due: prettier --write

chore: clear cache and update packages
  Gemfile.lock
  ios/Chronos.xcodeproj/project.pbxproj
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
Due: prettier --write

chore: add missing path package
  package-lock.json
  package.json
Due: prettier --write

release: v0.1.18
  macos/Chronos-macOS/Info.plist
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  package.json
Due: prettier --write

release: v0.1.19
  macos/Chronos-macOS/Info.plist
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade to react-native-macos 0.78.3
  Gemfile.lock
  ios/Chronos.xcodeproj/project.pbxproj
  ios/Podfile.lock
  macos/Chronos.xcodeproj/project.pbxproj
  macos/Podfile.lock
  package-lock.json
  package.json
  src/screens/Search.tsx
  src/services/adf/converter.ts
  src/services/atlassian-document-format.service.ts
  src/services/i18n.service.ts
  src/services/jira-issues.service.ts
  src/services/jira-worklogs.service.ts
  src/services/project.service.ts
Due: prettier --write, eslint --fix

feat: change runtime to hermes
  .babelrc.json
  .node-version
  .nvmrc
  .vscode/settings.json
  Gemfile
  Gemfile.lock
  README.md
  index.js
  ios/Chronos.xcodeproj/project.pbxproj
  macos/Chronos-macOS/AppDelegate.swift
  macos/Chronos-macOS/Base.lproj/Main.storyboard
  macos/Chronos-macOS/CustomWindow.swift
  macos/Chronos.xcodeproj/project.pbxproj
  macos/Chronos.xcodeproj/xcshareddata/xcschemes/Chronos-macOS.xcscheme
  macos/Podfile
  macos/Podfile.lock
  metro.config.js
  package-lock.json
  package.json
Due: prettier --write

feat(loading-spinner): code cleanup
  src/components/LoadingSpinner.tsx
Due: prettier --write, eslint --fix

feat: change loading spinner to spritesheet
  src/assets/loading-spinner/loading-spinner-element-dark.png
  src/assets/loading-spinner/loading-spinner-element-dark@2x.png
  src/assets/loading-spinner/loading-spinner-element-dark@3x.png
  src/assets/loading-spinner/loading-spinner-element-light.png
  src/assets/loading-spinner/loading-spinner-element-light@2x.png
  src/assets/loading-spinner/loading-spinner-element-light@3x.png
  src/assets/loading-spinner/loading-spinner-large-dark.png
  src/assets/loading-spinner/loading-spinner-large-dark@2x.png
  src/assets/loading-spinner/loading-spinner-large-dark@3x.png
  src/assets/loading-spinner/loading-spinner-large-light.png
  src/assets/loading-spinner/loading-spinner-large-light@2x.png
  src/assets/loading-spinner/loading-spinner-large-light@3x.png
  src/assets/loading-spinner/loading-spinner-small-dark.png
  src/assets/loading-spinner/loading-spinner-small-dark@2x.png
  src/assets/loading-spinner/loading-spinner-small-dark@3x.png
  src/assets/loading-spinner/loading-spinner-small-element-dark.png
  src/assets/loading-spinner/loading-spinner-small-element-dark@2x.png
  src/assets/loading-spinner/loading-spinner-small-element-dark@3x.png
  src/assets/loading-spinner/loading-spinner-small-element-light.png
  src/assets/loading-spinner/loading-spinner-small-element-light@2x.png
  src/assets/loading-spinner/loading-spinner-small-element-light@3x.png
  src/assets/loading-spinner/loading-spinner-small-light.png
  src/assets/loading-spinner/loading-spinner-small-light@2x.png
  src/assets/loading-spinner/loading-spinner-small-light@3x.png
  src/assets/loading-spinner/loading-spinner-tiny-dark.png
  src/assets/loading-spinner/loading-spinner-tiny-dark@2x.png
  src/assets/loading-spinner/loading-spinner-tiny-dark@3x.png
  src/assets/loading-spinner/loading-spinner-tiny-element-dark.png
  src/assets/loading-spinner/loading-spinner-tiny-element-dark@2x.png
  src/assets/loading-spinner/loading-spinner-tiny-element-dark@3x.png
  src/assets/loading-spinner/loading-spinner-tiny-element-light.png
  src/assets/loading-spinner/loading-spinner-tiny-element-light@2x.png
  src/assets/loading-spinner/loading-spinner-tiny-element-light@3x.png
  src/assets/loading-spinner/loading-spinner-tiny-light.png
  src/assets/loading-spinner/loading-spinner-tiny-light@2x.png
  src/assets/loading-spinner/loading-spinner-tiny-light@3x.png
  src/components/LoadingBar.tsx
  src/components/LoadingSpinner.tsx
Due: prettier --write, eslint --fix

feat(color-selector): add fade on edges
  src/assets/color-selector/color-selector-gradient-left-dark.png
  src/assets/color-selector/color-selector-gradient-left-dark@2x.png
  src/assets/color-selector/color-selector-gradient-left-dark@3x.png
  src/assets/color-selector/color-selector-gradient-left-light.png
  src/assets/color-selector/color-selector-gradient-left-light@2x.png
  src/assets/color-selector/color-selector-gradient-left-light@3x.png
  src/assets/color-selector/color-selector-gradient-right-dark.png
  src/assets/color-selector/color-selector-gradient-right-dark@2x.png
  src/assets/color-selector/color-selector-gradient-right-dark@3x.png
  src/assets/color-selector/color-selector-gradient-right-light.png
  src/assets/color-selector/color-selector-gradient-right-light@2x.png
  src/assets/color-selector/color-selector-gradient-right-light@3x.png
  src/components/settings/ColorSelector.tsx
Due: prettier --write, eslint --fix

feat: add option to select logo variants
  src/components/Tabs.tsx
  src/components/WorkspaceLogo.tsx
  src/components/modals/ModalAccountSelection.tsx
  src/components/settings/AccountSettingsOptions.tsx
  src/components/settings/ColorSelector.tsx
  src/components/settings/LogoSelector.tsx
  src/screens/Search.tsx
  src/services/jira-account.service.ts
  src/translations/de.json
  src/translations/en.json
  src/types/accounts.types.ts
Due: prettier --write, eslint --fix

feat(working-days): add hour selection
  src/components/settings/WorkingDaysSettings.tsx
  src/styles/theme/theme-dark.ts
  src/styles/theme/theme-light.ts
  src/styles/theme/theme-types.ts
Due: prettier --write, eslint --fix

feat(working-days): add animation between states
  src/components/settings/WorkingDaysSettings.tsx
Due: prettier --write, eslint --fix

chore: add copilot instructions
  .github/copilot-instructions.md
Due: none

feat: add reusable horizontal fade component
  src/assets/color-selector/color-selector-gradient-left-dark.png
  src/assets/color-selector/color-selector-gradient-left-dark@2x.png
  src/assets/color-selector/color-selector-gradient-left-dark@3x.png
  src/assets/color-selector/color-selector-gradient-left-light.png
  src/assets/color-selector/color-selector-gradient-left-light@2x.png
  src/assets/color-selector/color-selector-gradient-left-light@3x.png
  src/assets/color-selector/color-selector-gradient-right-dark.png
  src/assets/color-selector/color-selector-gradient-right-dark@2x.png
  src/assets/color-selector/color-selector-gradient-right-dark@3x.png
  src/assets/color-selector/color-selector-gradient-right-light.png
  src/assets/color-selector/color-selector-gradient-right-light@2x.png
  src/assets/color-selector/color-selector-gradient-right-light@3x.png
  src/assets/fades/fade-left-dark.png
  src/assets/fades/fade-left-dark@2x.png
  src/assets/fades/fade-left-dark@3x.png
  src/assets/fades/fade-left-light.png
  src/assets/fades/fade-left-light@2x.png
  src/assets/fades/fade-left-light@3x.png
  src/assets/fades/fade-right-dark.png
  src/assets/fades/fade-right-dark@2x.png
  src/assets/fades/fade-right-dark@3x.png
  src/assets/fades/fade-right-light.png
  src/assets/fades/fade-right-light@2x.png
  src/assets/fades/fade-right-light@3x.png
  src/components/HorizontalScrollWithFade.tsx
  src/components/settings/ColorSelector.tsx
  src/components/settings/WorkingDaysSettings.tsx
Due: prettier --write, eslint --fix

feat: adjust working days atom to include hours
  src/atoms/setting.ts
  src/components/DayButton.tsx
  src/components/Sidebar.tsx
  src/components/settings/WorkingDaysSettings.tsx
  src/services/date.service.ts
  src/services/storage.service.ts
  src/types/global.types.ts
Due: prettier --write, eslint --fix

feat: update working days and hours setting through settings
  src/components/settings/WorkingDaysSettings.tsx
Due: prettier --write, eslint --fix

chore: adjust clear cache script
  scripts/clear-cache.sh
Due: none

chore: disable hermes
  Gemfile.lock
  macos/Podfile
  macos/Podfile.lock
  metro.config.js
  package-lock.json
Due: prettier --write

feat: add four weeks overview event
  macos/Chronos-macOS/EventEmitter.swift
  src/providers/GlobalProvider.tsx
  src/services/jira-auth.service.ts
  src/services/native-event-emitter.service.types.ts
  src/utils/four-weeks-worklog-overview.ts
Due: prettier --write, eslint --fix

chore: downgrade jira.js to v4 - Prevent issues with streaming - Prevent issues with axios.create being undefined
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  package.json
  scripts/clear-cache.sh
Due: prettier --write

feat(EditWorklogHeader): only hide title when necessary
  src/components/EditWorklogHeader.tsx
Due: prettier --write, eslint --fix

chore: downgrade react-native-macos to 0.76.9 - Fixes animation issues - Removed RCTAppDependencyProvider
  macos/Chronos-macOS/AppDelegate.swift
  macos/Chronos.xcodeproj/project.pbxproj
  macos/Podfile.lock
  package-lock.json
  package.json
Due: prettier --write

chore: adjust translations
  src/translations/de.json
  src/translations/en.json
Due: prettier --write

fix: native module notifications not working
  macos/Chronos-macOS/EventEmitter.swift
  macos/Chronos-macOS/ReactNativeEventEmitter.swift
  src/providers/GlobalProvider.tsx
  src/services/native-event-emitter.service.types.ts
Due: prettier --write, eslint --fix

feat: automatically send 4 weeks worklogs data to native side
  src/providers/GlobalProvider.tsx
  src/utils/four-weeks-worklog-overview.ts
Due: prettier --write, eslint --fix

Path conditions:
  jsonsort: any of: assets/locales/*.json
  prettier --write: any of: *.{js,ts,tsx,json,yml}
  eslint --fix: any of: *.{ts,tsx}
