Repository nice-af/chronos-app: changes, and which lint-staged commands are due for each by the changed paths.
All: jsonsort, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "assets/locales/*.json": "jsonsort",
  "*.{js,ts,tsx,json,yml}": "prettier --write",
  "*.{ts,tsx}": "eslint --fix"
}

release: v0.1.21
  macos/Chronos-macOS/Info.plist
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  package.json
Due: prettier --write

feat: only ping server when the app is focused
  src/providers/GlobalProvider.tsx
  src/screens/Login.tsx
Due: prettier --write, eslint --fix

feat: adjust translation of sync duration
  src/translations/de.json
  src/translations/en.json
Due: prettier --write

release: v1.0.0
  macos/Chronos-macOS/Info.plist
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  package.json
Due: prettier --write

feat: add better error logging
  src/services/jira-account.service.ts
Due: prettier --write, eslint --fix

release: v1.0.1
  macos/Chronos-macOS/Info.plist
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  package.json
Due: prettier --write

feat: replace deprecated jira endpoint
  Gemfile.lock
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  src/services/jira-worklogs.service.ts
Due: prettier --write, eslint --fix

release: v1.0.2
  macos/Chronos-macOS/Info.plist
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  package.json
Due: prettier --write

feat: add icon composer app icon
  macos/Chronos.xcodeproj/project.pbxproj
  macos/app-icon.icon/Assets/liquid-glass-overlay.png
  macos/app-icon.icon/Assets/liquid-glass-shape.png
  macos/app-icon.icon/Assets/liquid-glass-underlay.png
  macos/app-icon.icon/icon.json
Due: prettier --write

fix: prevent exceptions due to malformed data
  macos/Chronos-macOS/StatusBarManager.swift
Due: none

chore: upgrade xcode project version from 16.0 to 16.3
  Gemfile.lock
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
Due: prettier --write

chore: update patch package patch to rn 0.76.9
  patches/react-native-macos+0.76.6.patch
  patches/react-native-macos+0.76.9.patch
Due: none

fix: replace deprecated jira endpoints
  src/services/jira-issues.service.ts
Due: prettier --write, eslint --fix

chore: improve error handling of api status during local development
  macos/Chronos.xcodeproj/project.pbxproj
  src/screens/Login.tsx
Due: prettier --write, eslint --fix

feat: replace draggable hack with a mouse down listener
  App.tsx
  macos/Chronos-macOS/CustomWindow.swift
  src/components/Sidebar.tsx
Due: prettier --write, eslint --fix

feat: add traffic light functionality to custom buttons
  App.tsx
  macos/Chronos-macOS/CustomWindow.swift
  macos/Chronos-macOS/TrafficLightManager.m
  macos/Chronos-macOS/TrafficLightManager.swift
  macos/Chronos.xcodeproj/project.pbxproj
  src/components/TrafficLights.tsx
Due: prettier --write, eslint --fix

fix: submit button sometimes visible when it shouldn't be
  src/components/EntriesFooter.tsx
Due: prettier --write, eslint --fix

fix: layout issues due to smaller titlebar
  src/screens/Entries.tsx
Due: prettier --write, eslint --fix

feat: add macos tahoe icon
  macos/AppIcon.icon/Assets/liquid-glass-overlay.png
  macos/AppIcon.icon/Assets/liquid-glass-shape-monochrome.png
  macos/AppIcon.icon/Assets/liquid-glass-shape.png
  macos/AppIcon.icon/Assets/liquid-glass-underlay.png
  macos/AppIcon.icon/icon.json
  macos/Chronos-macOS/AppIcon.png
  macos/Chronos.xcodeproj/project.pbxproj
  macos/app-icon.icon/icon.json
Due: prettier --write

release: v1.0.3
  macos/Chronos-macOS/Info.plist
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  package.json
Due: prettier --write

feat: add spearate sidebar component
  src/components/Sidebar/AutoSidebar.tsx
  src/components/Sidebar/SidebarLegacy.tsx
  src/components/Sidebar/SidebarTahoe.tsx
  src/screens/Main.tsx
  src/utils/os-version.ts
Due: prettier --write, eslint --fix

chore: adjust prod schema
  macos/Chronos.xcodeproj/project.pbxproj
  macos/Chronos.xcodeproj/xcshareddata/xcschemes/Chronos-macOS-prod.xcscheme
Due: none

Revert "chore: adjust prod schema"
  macos/Chronos.xcodeproj/project.pbxproj
  macos/Chronos.xcodeproj/xcshareddata/xcschemes/Chronos-macOS-prod.xcscheme
Due: none

chore: revert xcode project changes
  macos/Chronos-macOS/Chronos-macOS.entitlements
  macos/Chronos-macOS/Info.plist
  macos/Chronos.xcodeproj/project.pbxproj
  macos/Chronos.xcworkspace/xcshareddata/xcschemes/Chronos-macOS-prod.xcscheme
  macos/Chronos.xcworkspace/xcshareddata/xcschemes/Chronos-macOS.xcscheme
  package-lock.json
  scripts/release-it/xcode.mjs
Due: prettier --write

feat: remove notification listeners on deinit
  macos/Chronos-macOS/AppDelegate.swift
  macos/Chronos-macOS/StatusBarManager.swift
Due: none

fix: window closing not working on tahoe
  Gemfile.lock
  macos/Chronos-macOS/AppDelegate.swift
  macos/Chronos-macOS/EventEmitter.swift
  macos/Chronos-macOS/TrafficLightManager.m
  macos/Chronos-macOS/TrafficLightManager.swift
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  src/components/TrafficLights.tsx
  src/services/native-event-emitter.service.types.ts
Due: prettier --write, eslint --fix

release: v1.0.4
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  package.json
Due: prettier --write

feat: further stability improvements
  src/services/i18n-native.service.macos.ts
  src/services/i18n.service.ts
  src/services/jira-auth.service.ts
  src/services/native-event-emitter.service.macos.ts
Due: prettier --write, eslint --fix

release: v1.0.5
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  package.json
Due: prettier --write

fix: reduce widget update intervals
  src/atoms/worklog.ts
Due: prettier --write, eslint --fix

fix: notifications with specific working day settings causing a crash
  src/watchers/NotificationWatcher.tsx
Due: prettier --write, eslint --fix

chore: update dependencies
  Gemfile.lock
  macos/Chronos.xcodeproj/project.pbxproj
Due: none

release: v1.0.6
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  package.json
Due: prettier --write

fix: error due to missing richtext nodes while syncing
  src/services/adf/converter.ts
  src/services/jira-worklogs.service.ts
Due: prettier --write, eslint --fix

fix: fmt compile error in newer xcode
  Gemfile.lock
  macos/Chronos.xcodeproj/project.pbxproj
  macos/Podfile
  macos/Podfile.lock
  package-lock.json
Due: prettier --write

release: v1.0.7
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  package.json
Due: prettier --write

chore: release it script cleanup
  scripts/release-it/xcode.mjs
Due: none
