Repository nice-af/chronos-app: changes, and which lint-staged commands are due for each by the changed paths.
All: jsonsort, prettier --write, eslint --fix

chore: remove duplicate entitlements file
  macos/Chronos-macOS/Chronos.entitlements
Due: none

feat: add basic 4 weeks widget
  macos/Chronos.xcodeproj/project.pbxproj
  macos/ChronosWidget4WeeksOverview/Assets.xcassets/AccentColor.colorset/Contents.json
  macos/ChronosWidget4WeeksOverview/Assets.xcassets/AppIcon.appiconset/Contents.json
  macos/ChronosWidget4WeeksOverview/Assets.xcassets/Contents.json
  macos/ChronosWidget4WeeksOverview/Assets.xcassets/WidgetBackground.colorset/Contents.json
  macos/ChronosWidget4WeeksOverview/ChronosWidget4WeeksOverview.entitlements
  macos/ChronosWidget4WeeksOverview/ChronosWidget4WeeksOverview.swift
  macos/ChronosWidget4WeeksOverview/ChronosWidget4WeeksOverviewBundle.swift
  macos/ChronosWidget4WeeksOverview/Info.plist
  macos/ChronosWidget4WeeksOverview/de.lproj/Localizable.strings
  macos/ChronosWidget4WeeksOverview/en.lproj/Localizable.strings
Due: prettier --write

feat: adjust cell colors
  macos/ChronosWidget4WeeksOverview/ChronosWidget4WeeksOverview.swift
Due: none

feat: adjust placeholder data to always start on monday
  macos/ChronosWidget4WeeksOverview/ChronosWidget4WeeksOverview.swift
Due: none

feat: add real data to widget
  macos/Chronos-macOS/AppDelegate.swift
  macos/Chronos-macOS/EventEmitter.swift
  macos/ChronosWidget4WeeksOverview/ChronosWidget4WeeksOverview.swift
  src/services/native-event-emitter.service.types.ts
  src/utils/four-weeks-worklog-overview.ts
Due: prettier --write, eslint --fix

fix: jira login not working sometimes
  src/services/jira-api-fetch.ts
Due: prettier --write, eslint --fix

chore: rename app bundle id
  .env.secret
  .gitsecret/paths/mapping.cfg
  macos/Chronos-macOS/Info.plist
  macos/Chronos.xcodeproj/project.pbxproj
  package-lock.json
  windows/Chronos/Package.appxmanifest
Due: prettier --write

feat: sync worklog data with widget periodically
  macos/Chronos-macOS/AppDelegate.swift
  macos/Chronos-macOS/Chronos-macOS.entitlements
  macos/Chronos.xcodeproj/project.pbxproj
  macos/ChronosWidget4WeeksOverview/ChronosWidget4WeeksOverview.entitlements
  macos/ChronosWidget4WeeksOverview/ChronosWidget4WeeksOverview.swift
  src/atoms/worklog.ts
  src/providers/GlobalProvider.tsx
Due: prettier --write, eslint --fix

feat: adjust settings styles
  src/components/Toggle.tsx
  src/styles/settings.ts
Due: prettier --write, eslint --fix

feat(WorkingDaysSettings): adjust light theme styling
  src/components/settings/WorkingDaysSettings.tsx
  src/styles/theme/theme-dark.ts
  src/styles/theme/theme-light.ts
  src/styles/theme/theme-types.ts
Due: prettier --write, eslint --fix

fix: overtracked days not visible in widget
  macos/Chronos-macOS/AppDelegate.swift
  macos/ChronosWidget4WeeksOverview/ChronosWidget4WeeksOverview.swift
  src/components/settings/WorkingDaysSettings.tsx
  src/utils/four-weeks-worklog-overview.ts
Due: prettier --write, eslint --fix

chore: code cleanup
  src/utils/four-weeks-worklog-overview.ts
Due: prettier --write, eslint --fix

fix: wrong week in widget on sundays
  src/utils/four-weeks-worklog-overview.ts
Due: prettier --write, eslint --fix

feat: move oauth token generation to server
  .gitsecret/keys/crls.d/DIR.txt
  .gitsecret/paths/mapping.cfg
  src/env.d.ts
  src/services/jira-api-fetch.ts
  src/services/jira-auth.service.ts
Due: prettier --write, eslint --fix

feat: add xcode cloud ci pipeline
  macos/Chronos.xcodeproj/project.pbxproj
  macos/Chronos.xcodeproj/xcshareddata/xcschemes/Chronos-macOS-prod.xcscheme
  macos/Chronos.xcodeproj/xcshareddata/xcschemes/Chronos-macOS.xcscheme
  macos/ci_scripts/ci_post_clone.sh
  src/env.d.ts
  src/services/jira-auth.service.ts
Due: prettier --write, eslint --fix

chore: adjust app name
  macos/Chronos.xcodeproj/xcshareddata/xcschemes/Chronos-macOS-prod.xcscheme
  macos/Chronos.xcodeproj/xcshareddata/xcschemes/Chronos-macOS.xcscheme
Due: none

chore: adjust build script to also link node
  macos/ci_scripts/ci_post_clone.sh
  package-lock.json
Due: prettier --write

chore: remove ci script
  macos/ci_scripts/ci_post_clone.sh
Due: none

chore: readd ci script with better permissions
  macos/ci_scripts/ci_post_clone.sh
Due: none

ci: add manual symlinks to node
  macos/ci_scripts/ci_post_clone.sh
Due: none

ci: include creation of node directory
  macos/ci_scripts/ci_post_clone.sh
Due: none

ci: add node path to xcode env
  macos/ci_scripts/ci_post_clone.sh
Due: none

ci: add brew link to also manually link node for actions in the script
  macos/ci_scripts/ci_post_clone.sh
Due: none

feat: add safari extension
  .gitsecret/paths/mapping.cfg
  .prettierignore
  README.md
  macos/Chronos Companion/Chronos_Companion.entitlements
  macos/Chronos Companion/Info.plist
  macos/Chronos Companion/Resources/_locales/de/messages.json
  macos/Chronos Companion/Resources/_locales/en/messages.json
  macos/Chronos Companion/Resources/content.b89a4b8b.js
  macos/Chronos Companion/Resources/icon128.plasmo.75675c84.png
  macos/Chronos Companion/Resources/icon16.plasmo.3f939841.png
  macos/Chronos Companion/Resources/icon32.plasmo.b3e782d4.png
  macos/Chronos Companion/Resources/icon48.plasmo.3cd5ceed.png
  macos/Chronos Companion/Resources/icon64.plasmo.2d281304.png
  macos/Chronos Companion/Resources/manifest.json
  macos/Chronos Companion/SafariWebExtensionHandler.swift
  macos/Chronos.xcodeproj/project.pbxproj
  package.json
  scripts/copy-extension.sh
Due: prettier --write

feat: add error message when offline
  src/assets/icons/error.png
  src/assets/icons/error@2x.png
  src/assets/icons/error@3x.png
  src/components/ErrorMessageToast.tsx
  src/screens/Login.tsx
  src/translations/de.json
  src/translations/en.json
Due: prettier --write, eslint --fix

chore: adjust translations
  src/translations/de.json
Due: prettier --write

fix(ErrorMessageToast): wrong line breaks
  src/components/ErrorMessageToast.tsx
Due: prettier --write, eslint --fix

chore: update safari extension
  macos/Chronos Companion/Resources/content.b89a4b8b.js
Due: prettier --write

feat: add default locale to safari extension manifest
  macos/Chronos Companion/Resources/manifest.json
  scripts/copy-extension.sh
Due: prettier --write

chore: adjust extension description
  macos/Chronos Companion/Resources/_locales/de/messages.json
  macos/Chronos Companion/Resources/_locales/en/messages.json
Due: prettier --write

fix: xcode podfiles version missmatch
  Gemfile.lock
  macos/Chronos.xcodeproj/project.pbxproj
  macos/Podfile
  macos/Podfile.lock
  package-lock.json
Due: prettier --write

chore: remove warnings due to legacy eslint version in peer dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: adjust clear cache script
  scripts/clear-cache.sh
Due: none

chore: remove debugging setting from newer rn version
  index.js
Due: prettier --write

feat: adjust extension copy script
  macos/Chronos Companion/Resources/manifest.json
  macos/Chronos.xcodeproj/project.pbxproj
  package.json
  scripts/check-git-secrets.mjs
  scripts/copy-extension.mjs
  scripts/copy-extension.sh
  scripts/tsconfig.json
  tsconfig.json
Due: prettier --write

chore: adjust release it script to sync versions across targets
  .release-it.json
  scripts/release-it/xcode.mjs
Due: prettier --write

chore: adjust release-it plugin to better handle different targets
  scripts/release-it/xcode.mjs
Due: none

release: v0.1.20
  package-lock.json
  package.json
Due: prettier --write

chore: better regex matching on version replacement
  scripts/release-it/xcode.mjs
Due: none

Path conditions:
  jsonsort: any of: assets/locales/*.json
  prettier --write: any of: *.{js,ts,tsx,json,yml}
  eslint --fix: any of: *.{ts,tsx}
